@media (max-width: 500px){
    .cabecalho {
        flex-direction: column;
    }
    .navegacao {
        margin-top: 30px;
    }
    .container {
        grid-template-columns: repeat(2, 1fr);
    }
    .container > div:nth-child(n+4) {
        display:block;
    }
    .container > div:nth-child(10) {
        grid-column: auto;
        grid-row: auto;
        order:-1;
    }
}