* { margin:0; padding:0 ; box-sizing: border-box;}

.cabecalho a {
    text-decoration: none;
    font-size: 16px;
    font-family: Arial;
    color:white;
    padding: 10px;
    margin-left: 20px;
}
.logo {
    color:white;
    font-size: 20px;
}
.cabecalho {
    display:flex;
    background-color: black;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px 20px 20px;
}
.navegacao{  
    display:flex;
    align-self: center;
}

img {
    max-width: 100%;
    display: block;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    max-width: 800px;
    margin: 20px auto;
}
.container > div:nth-child(n+4){            /*A partir do quarto item*/
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    
}
.container > div:nth-child(10) {
    grid-column: 1; 
    grid-row: 2/5;
    display:block;
}